<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Создание статуса</title>
</head>
<body>
<h1>Создание статуса</h1>
<form action="/student-statuses/create" method="post">
    <label for="name">Название:</label>
    <input type="text" id="name" name="name" required /><br/>

    <input type="submit" value="Создать" />
</form>
<a href="/student-statuses">Назад к списку</a>
</body>
</html>
