<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Student</title>
</head>
<body>
<h1>Добавить студента</h1>
<form action="/api/student/create" method="post">
    <!-- Поле для имени -->
    <div>
        <label for="name">Имя:</label>
        <input type="text" id="name" name="name" placeholder="Имя" required>
    </div>

    <!-- Поле для email -->
    <div>
        <label for="email">Email:</label>
        <input type="text" id="email" name="email" placeholder="Email" required>
    </div>

    <!-- Поле для пароля -->
    <div>
        <label for="password">Пароль:</label>
        <input type="password" id="password" name="password" placeholder="Пароль" required>
    </div>

    <!-- Кнопка для отправки формы -->
    <button type="submit">Добавить</button>
</form>
</body>
</html>
